
    
  html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
   background-image: url("https://images.squarespace-cdn.com/content/v1/5ee184fb461950593c387ddc/1605543927382-N2PKP1QJ137ZSYHWGCUD/Donation.png?format=2500w");
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    
    max-width: 700px;
    justify-content: center;
  }
  
  div {
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 10px;  
    overflow: hidden;
    margin: 0;
    min-height: 150px;  
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: normal;
  }
  
  
  .green {
    background-color: rgb(231, 135, 9);
  }
  
  .magenta{
      background-color: rgb(231, 135, 9);
  
  }
  
  .green:hover{
      background-color: #ffffff;
      color: #000000;
  }
  
  .magenta:hover{
      background-color: #ffffff;
      color: #000000;
  }
  .grid-parent {
    display: grid;
  }
  .flex-parent {
    position: absolute;
      top: 48%;
      left: 38%;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  .content {
    font-size: 2rem;
    border: 2px solid rgb(231, 135, 9);
    padding: 20px;
    margin-bottom: 40px;
  }
  
  .text-center {
    text-align: center;
  }
  
  button {
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: medBlue;
    padding: 15px 40px;
    color: #ffffff;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    
    :hover {
      background-color: darken(medBlue, 8%);  
    }
    
    &.block {
      display: block;
      width: 200px;
      color: #000000;
      
    }
    
    &.margin-auto {
      margin: 0 auto;    
    }
    
    &.margin-right {
      margin-right: 20px;
    }
  }
  .para{
      position: absolute;
      height: 200px;
      width: 800px;
      color: #000000;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: large;
      left: 400px;
      top: 150px;
  
  }
  h1{
      position: absolute;
      width: 100%;
      left: 575px;
      top: 90px;
  }