body{
    background-image: url("https://iskcondwarka.org/wp-content/uploads/2022/06/Food-Donation-for-the-Poor-1600326877.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
    height: 750px;
}
.form1 {
    border: 4px solid black;
    width: 500px;
    margin: 60px;
    padding: 30px;
    margin: auto;
    color: aliceblue;

}

input 
{
    width: 400px;
    height: 40px;
}
select{
    width: 400px;
    height: 40px;  
}
button{
    padding: 10px;
    background-color: rgb(6, 6, 64);
    color: aliceblue;
}