body{
    background-image: url("https://i.pinimg.com/564x/cc/06/6b/cc066be994dec9acab9cbf0b4c03c33f.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 800px;
    margin: 0;
}

img{
    
    float: left;
    border-radius:50%;
    border: rgb(231, 135, 9) 2px solid;
    color: white;
}

a{
    float: left;
    padding:20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 500;
    margin: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.nav{
    width: 100%;
    height: 60px;
    padding: 4px;
    background-color: rgb(231, 135, 9);
    
    
}
a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(210, 154, 81);
   
    box-shadow: 2px 2px 10px rgb(231, 135, 9);
}