body{
    background-image: url("https://media.istockphoto.com/id/1352758440/photo/paper-shopping-food-bag-with-grocery-and-vegetables.webp?b=1&s=170667a&w=0&k=20&c=iKgsDK_4spbF8uECRQcmeebr1RSh2SnHDPM3FS2aaco=");

    font-family: 'Muli', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    height: 710px;
    
  }
  h1{
    color: #381b02;
    padding-bottom: 2rem;
    font-weight: bold;
  }
  a{
    color: #050404;
  }
  a:hover{
    color: #dc7820;
    text-decoration: none;
  }
  .form-control:focus {
  
      color: #000;
      background-color: #fff;
      border:2px solid #1a2cb4;
      outline: 0;
      box-shadow: none;
  
  }
  
  .btn{
    background: #ef9a23;
    border: #633504;
   
  }
  .btn:hover {
    background: #f1b45e;
    border: #563509;
  }