<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="choice.css">
</head>
<body >
    <h1>Select Appropriate Category</h1>
   <center><div class="para">
    Hello! Welcome to our website! we are here to connect you with the needy people or with the donar. You can select donar option if you want to donate or you can select NGO option if you need food for yourself or your NGO. Either way u can spread happiness in the world . Hope you will support us while we are supporting you. Have a great day!!</div></center> 
        <div class="flex-parent jc-center">
          <button type="submit" class="green margin-right"><a href="/donate">DONAR</a></button>
          <button type="submit" class="magenta"><a href="/data">NGO</a></button>
        </div>    
        
      </div>
</body>
</html>