<!DOCTYPE html>
<html lang="en">
<head>
    <title>food4hope</title>
<link rel="stylesheet" href="homepage.css">
</head>
<body>
    <div class="nav">
     <div><img src="https://img.freepik.com/free-vector/organic-food_24908-54079.jpg?size=626&ext=jpg" alt="" height="100px" width="100px"></div>
    <div><a href="/ourmission">Our Mission</a></div>
    <div><a href="/login">Login/Register</a></div>
    <div><a href="/aboutus">About Us</a></div>
    <div><a href="">Contact Us</a></div>
    
</div>
</body>
</html>