<!DOCTYPE html>
<html>
<head>
    <title>Thanks for Donation</title>
</head>
<body>
    <h1>Thanks for your donation!</h1>
    <p>Your donation has been received and is greatly appreciated.</p>
    <a href="/">Return to Home</a>
</body>
</html>

